*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height:60px;
    background-color: #0F1111;
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* box 1 */
.nav-logo{
    height: 50px;
    width: 114px;
}

.logo{
    background-image: url(logo.png);
    background-size: cover;
    height:50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box 2 */

.address{
    width: 90px;
}
.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
}

/* box 3 */

.nav-search{
    display: flex;
    height: 40px;
    width: 620px;
    justify-content: space-evenly;
    background-color: #ffbf00fa;
    border-radius: 4px;
    border: none;
}

.search-select{
    background-color: #E6E6E6;
    width: 55px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 525px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    display: flex;
    width:45px;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem ;
    color: black;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box 4 */

.nav-country{
    display: flex;
    height:45px;
    width: 75px;
    align-items:center;
   
}
.country-icon{
    background-image: url(united-states.png);
    background-size: cover;
    height:25px;
    width: 40px;
}

.country-select{
    width: 100%;
    background-color: #0F1111;
    color: white;
    font-weight: bold;
    font-size: 0.98rem;
}

/* box 5 */

.nav-account{
    height: 50px;
    width: 130px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.account-sign{
     font-size: 0.85rem;
}

.account-select{
    font-weight: 700;
    color: white;
    background-color: #0F1111;
    font-size: 1rem;
}

/* box 6 */

.nav-orders{
    height: 50px;
    width: 75px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.orders-returns{
     font-size: 0.85rem;
}

.orders-orders{
    font-weight: 700;
    color: white;
    background-color: #0F1111;
    font-size: 1rem;
}


/* box 7 */

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
}

/* second nav */

.panel{
    display: flex;
    height: 40px;
    background-color: #222F3D;
    color: white;
    align-items: center;
}

.panel-all i{
    height: 14px;
    width: 17px;
}

.panel-all{
    height: 35px;
    width: 58px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.panel-ops p{
    margin-left: 15px;
}
.panel-ops{
    display: flex;
    font-size: 0.95rem;
    
}

/* hero section */

.hero-section{
    background-image: url(hero_img.jpg);
    background-size: cover;
    height: 305px;    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 30px;
}

.hero-msg a{
    color: #007185;
}

/* shop-section */

.shop-section{
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e8e8e8;

}

.box{
    height: 420px;
    width: 310px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    color: black;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-image{
    background-size: cover;
    background-position: center;
    height: 330px;
    width: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 15px;
    margin-right: 10px;
}

.box-content p{
    font-size: 15px;
    color: #007185;
}

/* footer */

.foot-panel1{
    height: 49px;
    background-color: #2f4053;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.foot-panel2{
    background-color:#222F3D;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 300px;
    padding-top: 50px;
}

ul a{
    display: flex;
    font-size: 0.9rem;
    margin-top: 10px;
    color: #CCCCCC;
}

.foot-panel3{
    background-color:#222F3D;
    height: 70px;
    color: white;
    border-top: 0.1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.foot3-img{
    background-image: url(logo.png);
    background-size: cover;
    height: 50px ;
    width: 100px;
}

.foot-panel4{
    background-color: #0F1111;
    height: 100px;
    color: white;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
     padding-top: 25px;
    }

.copyright{
       padding-top: 5px;
    }